$bgColor: orange;
$borderColor:red;
$border:solid;
$borderSize:3px;
$text-decoration:none;
$background-image: url("https://raw.githubusercontent.com/MajaKortyka/Front-End/master/ep_naturalwhite.png");
*{box-sizing:border-box;}
%centered{
  display:flex;
  justify-content: center;
  align-items:center;
}
body {
  margin:0;
  background-image: $background-image;
  >header{
    border:$borderSize $border $borderColor;
    text-align:center;
    background-color: yellowgreen;
    color: black;
  }
  >section{
      min-height:30vh;
      border:$borderSize $border $borderColor;
      background-color: violet ;
      display:flex;
    header{
      background-color:darkviolet;
      flex:1 0;
      @extend %centered;
      display:flex;
    }
    img{
      max-width:50%;
      max-height:50%;
    }
  }
  main {
    background-image: $background-image;
    border: $borderSize $border $borderColor;
    display: flex;
    div {
      border:$borderSize $border $borderColor;
      height:30vh;
      @extend %centered;
      padding:5%;
      img{
        max-width:100%;
        max-height:100%;
      }
    }
    @for $i from 1 through 6{
      div:nth-child(#{$i}){
        background-color: lighten(rgb(11, 11, 19)), 16 * $i);
      }
    }
  }
  footer {
    position: fixed;
    justify-content: center;
    text-align: center;
    ul {
      a {
    text-decoration: $text-decoration;
      }
    } 
   }
}