* {
    box-sizing: border-box;
}
body {
    background-color: yellow;
}
.nav {
    position:sticky;
    top: 0;
    background-color: green;
    padding: 0 2%;
    z-index: 1;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}
.flexContainer div {
    width: 40vw;
    height: 40vw;
    margin: 2%;
    position: relative;
}
.flexContainer div:nth-child(1) .img {
    background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw2/lew.jpg);
}
.flexContainer div:nth-child(2) .img {
    background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw2/nosorozec.jpg);
}
.flexContainer div:nth-child(3) .img {
    background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw2/slon.jpg);
}
.flexContainer div:nth-child(4) .img {
    background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw2/zebra.jpg);
}
.flexContainer div .show {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    transition: 1s;
    opacity: 1;
}
.flexContainer div div {
    background-size: 100;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: green;
}