$bgColor:rgb(98, 141, 158);
$borderColor:white;
$border:solid;
$borderSize:1px;
*{box-sizing:border-box;}
%centered{
  display:flex;
  justify-content: center;
  align-items:center;
}
@mixin media($pgW, $w) {
  @media (min-width:$pgW){
    body{
      display:flex;
      flex-direction:column;
      align-items:center;
      >section,>main{
        width:$w;
      }
      >header,footer{
        width:100%;
      }
    }
  }    
}
body{
  margin:0;
  background-color:$bgColor;
  >header{
    border:$borderSize $border $borderColor;
    text-align:center;
    background-color:#000;
    color:#fff;
  }
  img{
    max-width: 100%;
    max-height:100%;
  }
  >section{
    min-height:30vh;
    background-color:rgba(255, 255, 255, 0.20);
    border:$borderSize $border $borderColor;
    display:flex;
    &:nth-child(2){
      flex-direction: row-reverse;
    }
    header{
      // border:2px dashed blue;
      background-color:rgba(255, 255, 255, 0.15);
      flex:1 0;
      // padding:5%;
      @extend %centered;
      img{
        max-width:70%;
        max-height:70%;
      }
    }
    article{
      flex:2;
      @extend %centered;
      flex-direction:column;
      p{
        padding:2%;
      }
    }
  }
  main{
    border:$borderSize $border $borderColor;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:2px;
    div{
      border:$borderSize $border $borderColor;
      height:30vh;
      margin-top:1%;
      @extend %centered;
      padding:5%;
    }
    @for $i from 1 through 6{
      div:nth-child(#{$i}){
        background-color: lighten(#000, 16 * $i);
      }
    }
  }
  footer{
    border:$borderSize $border $borderColor;
    padding:5%;
    display:flex;
    justify-content: center;
    color:#fff;
    background-color:#000;
    a{
      text-decoration:none;
      border:$borderSize $border $borderColor;
      color:inherit;
      margin:2%;
      padding:0 2%;
    }
  }
}
@include media(770px,80%);
@include media(1100px,60%);
@include media(1500px,40%);
