body {
  background-color: cadetblue;  
}
.nav {
    background-color: darkolivegreen;
}  
.grid {
    display:grid;
    grid-template-areas: "a1 a2 a5" "a3 a4 a5";
    gap:10px;
    min-height: 70vh;
}
a {
    background-color:darkolivegreen;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid a:nth-child(1) {
    grid-area: a1;
}
.grid a:nth-child(2) {
    grid-area: a2;
}
.grid a:nth-child(3) {
    grid-area: a3;
}
.grid a:nth-child(4) {
    grid-area: a4;
}
.grid a:nth-child(5) {
    grid-area: a5;
}
.footer {
    position: fixed;
    left: 0 ;
    bottom:0 ;
    width: 100%;
    background-color: darkolivegreen;
}
@media (max-width:720px) {
    .grid {
        display: block;
    }
}