
.icon-book:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-bicycle:before { content: '\e80a'; } /* '' */
.icon-doc:before { content: '\f04a'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
