body {
    background-color: darkolivegreen;
}
h1  {
    color:darkorange;
}
.content {
    border: 2px dashed yellow;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.content div {
    border: 2px dashed purple;
}
.content img {
    width 100%;
}
.content desc {
    padding:2%; 
	margin:2%;
}
.chartContainer {
    background-color: red;
    padding: 2%;
    padding-top: 1%;
    margin- bottom: 2%;
}
.chart {
    height: 40h;
    min-height: 5cm;
    display: flex;
    justify-content: space-evenly;
    border: 1px dashed blue;
}
.vertical div:nth-child(1) {
    height: 8px;
}
.vertical div {
    width: 10%;
}
.chart div {
    background-color: blueviolet;
}
.vertical div:nth-child(2) {
    height: 8mm;
}
.vertical div:nth-child(3) {
    height: 8pc;
}
.footer {
    border: 2px dashed pink;
    margin-top:2%;
    padding: 5% 2%;
    text-align: right;
}